body {
  font-family: "Verdana", sans-serif, arial;
}
main {
  margin-top: 60px;
}
hr {
  margin: 30px 0;
}
label.form-check-label {
  font-weight: 300;
}
small.form-small {
  display: block;
  margin-bottom: 4px;
}
#welcome {
  font-size: 6rem;
  margin: 50px 0;
}
#welcome_c2a {
  font-size: 4rem;
}
#main_skill_selector {
  .ul-skills {
    padding: 10px 0;
    border-top: solid 1px #eeeeee;
  }
}
.ul-skills {
  list-style-type: none;
  padding: 0;
  margin: 4px 0;
  .skill-tag {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 8px;
    border: solid 1px #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: #eeeeee;
    }
    > span {
      display: inline-block;
      padding: 10px;
    }
    .close {
      padding-left: 6px;
    }
  }
}
.specialization {
  margin-bottom: 8px !important;
}
.li-education {
  margin-bottom: 8px !important;
  .li-education-university {
    float: right;
    margin: 12px 4px;
    max-height: 110px;
    max-width: 255px;
  }
  .li-education-information {
    margin-top: 20px;
  }
}
form input[type=submit] {
  margin: 10px 0;
}

.university_full_size {
  max-width: 200px;
  max-height: 200px;
  margin: 25px 0 20px 25px;
}
