<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "index" class="navbar-brand"}}NavigateIT{{/link-to}}
      </div>
      <ul class="nav navbar-nav">
        <li>{{#link-to "educations"}}IT Educations{{/link-to}}</li>
        <li>{{#link-to "bulletin-board"}}Bulletin Board{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to "admin"}}<span class="glyphicon glyphicon-user"></span> Admin{{/link-to}}</li>
      </ul>
    </div>
  </nav>
  <main>
    {{outlet}}
  </main>
</div>