<header>
  <h1>Welcome to NavigateIT</h1>
  <h3>The platform which helps you connect with IT students that possess just the right skills and background knowledge to fit your company's needs.</h3>
</header>
<section class="row">
  <div class="col-lg-3">
    <h3>Required Skills</h3>
    <ul class="req_skills">

    </ul>
  </div>
  <div class="col-lg-9">
    <h3>Required Skills</h3>
    <ul class="avail_skills">

    </ul>
  </div>
</section>