<li class="li-bulletin list-group-item">
  <span class="pull-right">Expires in {{formattedExpired}} days</span>
  <label>{{bulletin.publisher.name}}</label>
  <h3>{{bulletin.title}}</h3>
  <ul>
    {{#each bulletin.educations as |estr|}}
      <li>{{estr.name.en}}</li>
    {{/each}}
  </ul>
  <div class='read-more row'>
    {{#link-to 'bulletin' bulletin.id }}<small>See details &raquo;</small>{{/link-to}}
  </div>
</li>